

button,
pluto-cell > button,
pluto-input > button,
pluto-shoulder,
footer,
pluto-runarea,
#helpbox-wrapper {
    display: none !important;
}

pluto-output img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    margin-block-end: 1rem;
}